<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .img {
            margin-top: 5%;
        }
        
        .head {
            font-size: xx-large;
        }
        
        .val {
            font-size: x-large;
        }
        
        .btn {
            margin-top: 5%;
        }
    </style>
</head>

<body>
    <div class="container">
        <center> <img src="speed.png" class="img" height="150px" width="150px" />
        </center>
        <center>
            <div class="head">Upload Speed</div><br>

            <div class="val" id="upval">
                <%=up%> MB/s</div>
        </center>
        <hr>
        <center>
            <div class="head">Download Speed</div>
            <br>

            <div class="val" id="downval">
                <%=down%> MB/s</div>
            <button class="btn btn-dark" onclick="reload()">Check Again!</button>
        </center>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
<script>
    function reload() {
        location.reload();
    }
</script>